/* Apply styles for all devices */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #8e44ad, #c0392b);
    /* Purple gradient background */
}

#heart {
    position: absolute;
    width: 50px;
    height: 50px;
}

#header-image {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeInFromLeft 1.5s forwards;
}

@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 450px;
    height: 30%;
    border-radius: 60px;
    position: relative;
    background-color: white;

    @media only screen and (max-width: 768px) {
        height: 30%;
    }
}

button {
    padding: 10px 20px;
    margin: 10px 5px;
    font-size: 16px;
    border-radius: 50px;
    border: 2px solid red;
}

#yes-btn {
    background-color: red;
    color: white;
}

#no-btn {
    background-color: white;
    color: black;
}

@keyframes fadeInText {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#date-text {
    font-size: 24px;
    font-family: 'Lobster', cursive;
    text-align: center;
    opacity: 0;
}

#happy-text {
    font-size: 20px;
    font-family: 'Lobster', cursive;
    text-align: center;
}

@keyframes fadeInAndOut {
    0% {
        opacity: 0;
        transform: translateY(-20vh);
    }

    50% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(100vh);
    }
}

.heart {
    position: absolute;
    width: 50px;
    height: 50px;
    animation: fadeInAndOut 3s linear infinite;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
    #header-image {
        width: 80%;
    }

    #date-text {
        font-size: 18px;
    }

    #happy-text {
        font-size: 16px;
    }
}
